<ion-content class="side-menu-content" scroll="false">
    <ion-list class="side-menu-margin-top">
        <ion-item class="item-icon-left">
                <i class="icon ion-person-add light energized-bg " style="height:85%;top:4px">&nbsp;</i>
            <b class="padding-left">新的朋友</b>
        </ion-item>
         <ion-item class="item-icon-left">
             <i class="icon ion-person-stalker light balanced-bg " style="height:85%;top:4px">&nbsp;</i>
            <b class="padding-left">群聊</b>
        </ion-item>
         <ion-item class="item-icon-left">
                <i class="icon ion-bookmark light positive-bg" style="height:85%;top:4px">&nbsp;</i>
            <b class="padding-left">标签</b>
        </ion-item>
         <ion-item class="item-icon-left">
                <i class="icon ion-ios-people light positive-bg " style="height:85%;top:4px">&nbsp;</i>
            <b class="padding-left">公众号</b>
        </ion-item>

    </ion-list>
</ion-content>