<ion-content class="side-menu-content" scroll="false">
    <ion-list class="side-menu-margin-top has-margin">
        <ion-item class="item-icon-left">
            <i class="icon ion-social-chrome calm"></i>
            <b>朋友圈</b>
        </ion-item>
    </ion-list>

    <ion-list class="side-menu-margin-top has-margin">
        <ion-item class="item-icon-left">
            <i class="icon ion-qr-scanner positive"></i>
            <b>扫一扫</b>
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-android-phone-portrait positive"></i>
            <b>摇一摇</b>
        </ion-item>
    </ion-list>

    <ion-list class="side-menu-margin-top  has-margin">
        <ion-item class="item-icon-left">
            <i class="icon ion-person-stalker positive"></i>
            <b>附近的人</b>
        </ion-item>
    </ion-list>

    <ion-list class="side-menu-margin-top  has-margin">
        <ion-item class="item-icon-left">
            <i class="icon ion-nuclear assertive"></i>
            <b>购物</b>
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-bug balanced"></i>
            <b>游戏</b>
        </ion-item>
    </ion-list>


</ion-content>